<?xml version="1.0" encoding="UTF-8"?>
<?define Version="12.1.0.1"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Product Id="*" Name="Sparrow Chart WPF Toolkit $(var.Version)" Language="1033" Version="$(var.Version)" Manufacturer="Vinoth Kumar J" UpgradeCode="E2E5F86F-8B25-4F1D-A77B-84CB15C2D770">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" AdminImage="yes" InstallPrivileges="elevated" />
   
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />
		<Feature Id="ProductFeature" Title="Sparrow Chart WPF Toolkit" Level="1">
			      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="Framework_4_0"/>
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="INSTALLDIR">
         <Directory Id="ProductDirectory" Name="Sparrow Chart WPF Toolkit">
           <Directory Id="VERSION" Name="$(var.Version)">
             <Directory Name="Bin" Id="BIN">
                        <Directory Name="4.0" Id="_4.0">
                            <Component Id="Framework_4_0" DiskId="1" KeyPath="yes" Guid="9dac5649-584d-4f94-afbb-25e72f058714">
                                <File Id="SPARROW.CHART.DLL" Name="Sparrow.Chart.dll" Source="..\..\Sparrow.Chart\bin\Release\Sparrow.Chart.dll" />
                               <File Id="SPARROW.CHART.XML" Name="Sparrow.Chart.XML" Source="..\..\Sparrow.Chart\bin\Release\Sparrow.Chart.XML" /> 
                                <File Id="SPARROW.RESOURCES.DLL" Name="Sparrow.Resources.dll" Source="..\..\Sparrow.Resources\bin\Release\Sparrow.Resources.dll" />
                                <File Id="SYSTEM.WINDOWS.INTERACTIVITY.DLL" Name="System.Windows.Interactivity.dll" Source="..\..\Sparrow.Resources\bin\Release\System.Windows.Interactivity.dll" />
                            </Component>
                        </Directory>           
          </Directory>
           </Directory>
          <Directory Id="GAC" Name="GAC" />
        </Directory>
				<Directory Id="INSTALLFOLDER" Name="Sparrow Chart WPF Toolkit" />
			</Directory>  
    </Directory>
  
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
       <Component Id="ProductComponent" KeyPath="yes" Guid="28982BC3-BCEA-4EAF-9E7E-9E19A9355CFB">
        <CreateFolder />
         <RemoveFolder Id="ProductComponent" On="uninstall" />
			</Component>   
      <Component Id="Sparrow.Chart" Guid="55857611-A13E-51ED-897B-A78830F68ADC">
                <!-- Registering assembly in GAC -->
               <File Id="F_SparrowChart" Name="Sparrow.Chart.dll" Source="..\..\Sparrow.Chart\bin\Release\Sparrow.Chart.dll" KeyPath="yes" Assembly=".net"/>
       <RegistryKey Root="HKLM"
                 Key="SOFTWARE\Wow6432Node\Microsoft\.NETFramework\v4.0.30319\AssemblyFoldersEx\[ProductName]">
      <RegistryValue Type="string" Value="[ProductDirectory]Bin\4.0" />
    </RegistryKey>
           </Component> 
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
		</ComponentGroup>
	</Fragment>
</Wix>